## Handling Imbalanced Dataset

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with 2 classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df.head()

   feature_1  feature_2  target
0  -0.367419  -0.016102       0
1   0.575273   0.747010       0
2   0.439351  -0.257842       0
3  -0.728152   0.561622       0
4  -0.888530   0.295353       0

In [13]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [14]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [15]:
df_minority.head()

     feature_1  feature_2  target
900   0.723566   2.301225       1
901   2.054508   1.935051       1
902   1.364961   1.393597       1
903   1.509824   1.771339       1
904   1.566104   3.776112       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -0.367419  -0.016102       0
1   0.575273   0.747010       0
2   0.439351  -0.257842       0
3  -0.728152   0.561622       0
4  -0.888530   0.295353       0

In [17]:
## Performing Upsampling
from sklearn.utils import resample

In [19]:
df_minority_upsample=resample(df_minority,
                              replace=True ,## Sample with replacement
                              n_samples=len(df_majority), ## To match the majority class
                              random_state=42
                             )

In [20]:
df_minority_upsample.shape

(900, 3)

In [21]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   2.998884   1.803756       1
992   2.361990   0.739604       1
914   0.932880   0.904999       1
971   2.409614   3.507181       1
960   1.874774   3.425993       1

In [24]:
df_minority_upsample.value_counts()

feature_1  feature_2  target
2.328295   2.960701   1         19
2.285828   2.959276   1         18
0.511339   2.484847   1         18
1.421429   0.563567   1         16
0.013286   2.244925   1         16
                                ..
1.288507   3.946528   1          4
0.327235   3.663824   1          4
1.700278   2.352979   1          4
1.578339   1.935549   1          4
1.848293   2.494630   1          3
Name: count, Length: 100, dtype: int64

In [27]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [28]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [29]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [30]:
df_upsampled.head()

   feature_1  feature_2  target
0  -0.367419  -0.016102       0
1   0.575273   0.747010       0
2   0.439351  -0.257842       0
3  -0.728152   0.561622       0
4  -0.888530   0.295353       0

In [31]:
df_upsampled.shape

(1800, 3)

## Down Sampling

In [32]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [33]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [34]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [35]:
## Performing Down Sampling
from sklearn.utils import resample
df_majority_downsample=resample(df_majority,
                              replace=False ,## Sample with without replacement
                              n_samples=len(df_minority), ## To match the minority class
                              random_state=42
                             )

In [36]:
df_majority_downsample.shape

(100, 3)

In [43]:
df_downsampled=pd.concat([df_minority, df_majority_downsample])

In [41]:
df_downsampled['target']

     feature_1  feature_2  target
900   1.647981   2.621172       1
901   1.455221   1.255718       1
902   1.344928   1.343148       1
903   1.687421   2.554107       1
904   2.194686   2.006833       1
..         ...        ...     ...
398  -0.450763   0.168030       0
76   -0.655390  -0.304081       0
196  -0.370110  -0.318481       0
631  -2.443508  -0.988137       0
751  -0.282327   0.778823       0

[200 rows x 3 columns]